*.suo
/QRStockMateSL/.vs/
/QRStockMateSL/QRStockMate.Infrastructure/bin/
/QRStockMateSL/QRStockMate.Infrastructure/obj/
/QRStockMateSL/QRStockMate.Services/obj/
/QRStockMateSL/QRStockMate/bin/
/QRStockMateSL/QRStockMate/obj/
/QRStockMateSL/.vs/QRStockMateSL/FileContentIndex
/QRStockMateSL/QRStockMate/obj/Debug/net7.0/QRStockMate.csproj.AssemblyReference.cache
/QRStockMateSL/QRStockMate.Infrastructure/obj/Debug/net7.0/QRStockMate.Infrastructure.csproj.AssemblyReference.cache
/QRStockMateSL/QRStockMate.Services/obj/Debug/net7.0/QRStockMate.Services.csproj.AssemblyReference.cache
/QRStockMateSL/QRStockMate/obj/Debug/net7.0/QRStockMate.csproj.CoreCompileInputs.cache
/QRStockMateSL/QRStockMate.AplicationCore/bin/Debug/net7.0/QRStockMate.AplicationCore.deps.json
/QRStockMateSL/QRStockMate.AplicationCore/bin/Debug/net7.0/QRStockMate.AplicationCore.dll
/QRStockMateSL/QRStockMate.AplicationCore/bin/Debug/net7.0/QRStockMate.AplicationCore.pdb
/QRStockMateSL/QRStockMate.AplicationCore/obj/Debug/net7.0/QRStockMate.AplicationCore.assets.cache
/QRStockMateSL/QRStockMate.AplicationCore/obj/Debug/net7.0/QRStockMate.AplicationCore.csproj.BuildWithSkipAnalyzers
/QRStockMateSL/QRStockMate.AplicationCore/obj/Debug/net7.0/QRStockMate.AplicationCore.csproj.CoreCompileInputs.cache
/QRStockMateSL/QRStockMate.AplicationCore/obj/Debug/net7.0/QRStockMate.AplicationCore.dll
/QRStockMateSL/QRStockMate.AplicationCore/obj/Debug/net7.0/QRStockMate.AplicationCore.pdb
/QRStockMateSL/QRStockMate.AplicationCore/obj/project.assets.json
/QRStockMateSL/QRStockMate.AplicationCore/obj/project.nuget.cache
/QRStockMateSL/QRStockMate.AplicationCore/obj/QRStockMate.AplicationCore.csproj.nuget.dgspec.json
/QRStockMateSL/QRStockMate.AplicationCore/obj/QRStockMate.AplicationCore.csproj.nuget.g.props
/QRStockMateSL/QRStockMate.AplicationCore/obj/QRStockMate.AplicationCore.csproj.nuget.g.targets
/QRStockMateSL/QRStockMate.Infrastructure/obj/Debug/net7.0/QRStockMate.Infrastructure.csproj.CoreCompileInputs.cache
/QRStockMateSL/QRStockMate.Services/bin/Debug/net7.0/QRStockMate.AplicationCore.dll
/QRStockMateSL/QRStockMate.Services/bin/Debug/net7.0/QRStockMate.AplicationCore.pdb
/QRStockMateSL/QRStockMate.Services/bin/Debug/net7.0/QRStockMate.Services.deps.json
/QRStockMateSL/QRStockMate.Services/bin/Debug/net7.0/QRStockMate.Services.dll
/QRStockMateSL/QRStockMate.Services/bin/Debug/net7.0/QRStockMate.Services.pdb
/QRStockMateSL/QRStockMate.Services/obj/Debug/net7.0/QRStockMate.Services.csproj.CoreCompileInputs.cache
